body {
    background-color: seashell;
    text-align: center;
    font-family: comic;
    font-variant-caps: all-petite-caps;
}

.login_div1,
.login_div2 {
    text-align: center;
    text-align-last: center;
    padding: 5px;
    border-radius: 10px;
}

h3 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
}

input {
    width: 30%;
    height: 50%;
    text-align-last: center;
    font-size: large;
}

label {
    font-size: large;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #9e4244;
    padding: 10px;
    float: none;
    text-align: left;
}